# AIRFLOW — Base de datos interna de metadatos (en Docker)

AIRFLOW_DB_USER=changeme
AIRFLOW_DB_PASSWORD=changeme
AIRFLOW_DB_NAME=changeme

#AIRFLOW — Webserver

AIRFLOW_SECRET_KEY=changeme
AIRFLOW_ADMIN_USER=changeme
AIRFLOW_ADMIN_PASSWORD=changeme
AIRFLOW_ADMIN_FIRSTNAME=changeme
AIRFLOW_ADMIN_LASTNAME=changeme
AIRFLOW_ADMIN_EMAIL=changeme

# DWH — Servidor externo 

POSTGRES_HOST=changeme
POSTGRES_PORT=changeme     
POSTGRES_USER=changeme
POSTGRES_PASSWORD=changeme
POSTGRES_DB=changeme